
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-slate-950 text-slate-300;
}

input,
textarea,
select {
  @apply w-full text-slate-700 py-2 px-3 bg-slate-900 mb-2 placeholder:text-gray-600 text-sm outline-none;
}

input,
textarea,
button,
select {
  @apply rounded;
}

.flexCenter {
  @apply flex items-center justify-center;
}
.flexBetween {
  @apply flex items-center justify-between;
}
.flexStart {
  @apply flex items-center justify-start;
}

.backdrop {
  @apply absolute inset-0 w-full bg-[#00000046] z-30;
}

.desc-list-style ul {
  @apply list-disc pl-5;
}
.desc-list-style ol {
  @apply list-decimal pl-5;
}

.desc-list-style h1 {
  @apply text-[1.5rem];
}
.desc-list-style h2 {
  @apply text-xl;
}
.desc-list-style h3 {
  @apply text-base;
}
.desc-list-style h4 {
  @apply text-xs;
}
.desc-list-style h5 {
  @apply text-[0.7rem];
}
.desc-list-style h6 {
  @apply text-[0.55rem];
}
.desc-list-style a {
  @apply text-sky-600 underline;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}